/* achtergond_css*/

div.gallery {
    margin-top:40px;
    
    float: left;
    width: 180px;
    margin-left: 40px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
    
    
}

div.desc {
    padding: 20px;
    text-align: center;
}



