* {
  box-sizing: border-box;
  margin:0;
  padding:0;
}

html, body {
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  background-blend-mode: lighten;
  background-size: cover;
  color: black;
 
 
}

/*navigatie*/
nav * {
    box-sizing: border-box;
}

nav {
    display:block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:6px;
    text-align: center;
    margin-left: 20px;
}
nav > ul {
    list-style:none;
    margin:0;
    padding:0;
    overflow: hidden;
    
}
nav > ul > li {
   
    float:left;
}
nav > ul > li > a {
    display:block;
    text-decoration:none;
    padding:14px 60px;
    color: green;
   
    font-weight: regular;
    text-decoration: none;
    text-align: center;
    width: 100%;
    border-right:1px solid white;
}



nav > ul > li > a:hover {
  background-color:white;
   color:darkgreen;
}

nav > ul > li > a {
   text-decoration: none

}

nav > ul > li.active > a
{
  background-color: #492f48;
}


/* achtergond_css*/


.foto {
  background: url(../img/mezelf.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height:  300px;
  position: relative;
}
.foto__text { 
  font-family: Lato, sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  position:  absolute;
  color: white;
  top: 20%;
  left: 50%;
  text-align: center;
  transform:  translate(-50%,-50%);
}
.foto__title { 
  margin: 0;
  font-size: 3rem;
  font-weight: 300;
}


.imglogo{
  width:370px;
  height:160px;
  background-image:url('../img/logografilynmet.png');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 140px;


}
.imglogo:hover{
  background-image:url('../img/logografilynmet.png');
}

/* footer_css*/

.footer-wrapper {
   display: block;
   color: white;
  background: url(../img/bos3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 60px;
  padding: 5px; 
  
}