/* achtergond_css*/

@import url('https://fonts.googleapis.com/css?family=Lato:300,400');
/* Three columns side by side */
.column {
    float: left;
    width: 60%;
    margin-bottom: 13px;
    padding: 0 3px;
    margin-top: 50px;
    margin-left: 115px;
    padding-right: 4px;
    width: 20%;
}

/* Display the columns below each other instead of side by side on small screens */
@media (max-width: 650px) {
    .column {
        width: 100%;
        display: block;
    }
}

/* Add some shadows to create a card effect */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/* Some left and right padding inside the container */
.container {
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 10px;
    padding-right: 30px;
}

/* Clear floats */
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}

.title {
    color: grey;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 10px;
    color: white;
    background: url(../img/boom.png);
    text-align: center;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color:#f3b88e;
    color:white;
}

